[Unit]
Description=Crow Mail Service
After=network.target

[Service]
ExecStart=/path/to/crow_mail
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target

